body {
    margin: 0;
    padding: 0;
  }

  #cart{
    max-width: 20px;
    height: auto;
    padding: 0;
    margin: 0;
  }

  h1{
    text-align: center;
  }

  nav {
    background-color: white;
    overflow: hidden;
    border: 0.5px lightgrey solid;
  }

  nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: rgb(232, 245, 250);
    color: black;
  }

  form{
    display: flex;
  }
  .products-wrapper{
    margin: 15px;
    display:flex;
    height: fit-content;
    width: fit-content;
  }

  .product{
    margin: 8px;
    display: block;
    height: fit-content;
    width: auto;
    padding: 5px;
    border: 1px solid white;
    transition: ease-in-out 0.25s;
  }

  .product:hover{
    padding: 15px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
  }

  .product-name, .product-price, .product-pcs, .product-btn{
    margin: 5px;
  }

  .product-price{
    font-size: 12px;
  }

  #out-of-stock{
    color: red;
  }

#login{
    text-align:right;
  }

