body {
    margin: 0;
    padding: 0;
  }

  #cart{
    width: 20;
    height: 20;
  }

  h1{
    text-align: center;
  }

  nav {
    background-color: white;
    overflow: hidden;
    border: 0.5px lightgrey solid;
  }

  nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: rgb(232, 245, 250);
    color: black;
  }

  .products-container{
    margin: 10px;
  }