{% extends "index.html" %}

{% block subtitle %}
FAQ
{% endblock %}

{% block main %}
<h1>Frequently Asked Questions</h1>
<div class="faq-item">
    <div class="question">1. What types of fruits and vegetables do you offer?</div>
    <div class="answer">We offer a wide variety of fresh fruits and vegetables, including seasonal selections. Our inventory is constantly updated to provide you with the best and freshest options.</div>
</div>

<div class="faq-item">
    <div class="question">2. How do I place an order?</div>
    <div class="answer">Placing an order is easy! Simply browse through our product catalog, select the items you want, and add them to your cart. Follow the checkout process to complete your order.</div>
</div>

<div class="faq-item">
    <div class="question">3. What payment methods do you accept?</div>
    <div class="answer">We accept major credit cards,...</div>
</div>
{% endblock %}