<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <title>Main Page</title>
</head>
<body>
    <header>
      <h1>Prodej</h1>
      <img id="cart" alt="cart" src="{{ url_for('static', filename= 'icons8-shopping-cart-48.png') }}" alt="">
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('fruit') }}">Ovoce</a>
      </nav>
      <main>
        {% block main %}{% endblock %}
      </main>
</body>
</html>