<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form action="" class="login-form">
        <label for="">Jméno</label>
        <input type="text">
        <label for="">Příjmení</label>
        <input type="text">
        <label for="">E-mail</label>
        <input type="email" class="mail">
        <label for="">Heslo</label>
        <input type="password" class="mail">
        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('login') }}">Already have an account? Log in.</a>
</body>
</html>