{% extends "index.html" %}

{% block subtitle %}
Ovoce
{% endblock %}

{% block main %}
<h2>Vegetables</h2>
<p>Fresh vege for sale!</p>
<div class="products-wrapper">
    <form method="post" action="{{ url_for('add_vege_to_cart') }}">
    {% for vegetable in vegetables %}
    <div class="product">
        <h5 class="product-name">{{ vegetable.display_name }}</h5>
        <img src="{{ url_for('static', filename= 'icons8-' + vegetable.name + '-48.png') }}" alt="{{ vegetable.name }} Image">
        <h4 class="product-price">{{ vegetable.price }} CZK</h4>
        {% if vegetable.quantity == 0 %}
        <p id="out-of-stock">Out of stock</p>
        {% else %}
        <button type="submit" class="product-btn" name ="product-btn" value="{{ vegetable._id }}">Do košíku</button>
        {% endif %}
    </div>
    {% endfor %}
</form>
</div>
{% endblock %}